body {
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 140px;
  position: relative;

  &:after,
  &:before {
    content: "Glitch Effect";
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #000;
    overflow: hidden;
  }

  &:after {
    left: 2px;
    text-shadow: -1px 0 #ff1b1b;
    animation: glitch1 2s infinite ease;
  }

  &:before {
    left: -2px;
    text-shadow: 1px 0 #2124ff;
    animation: glitch2 10s infinite ease;
  }
}

@keyframes glitch1 {
  $steps: 25;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

@keyframes glitch2 {
  $steps: 25;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
