body {
  padding: 10px 20px;
  background-color: #101124;
}
body p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 25px;
  background: #101124;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #00FFA1, #00FFFF);
  border-radius: 15px;
}
