.container .percent .number, .container .card, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #333333, #5A5454);
}

.container {
  position: relative;
  width: 960px;
  display: flex;
  justify-content: space-around;
}

.container .card {
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: 0.5s ease;
}

.container .card:hover {
  transform: translatey(-15px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.container .card:hover .number h2 {
  color: #fff;
  font-size: 50px;
}

.container .card:hover .number h2 span {
  color: #fff;
}

.container .card:hover h3 {
  color: #fff;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
}

.container .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background-color: #222;
  z-index: 1;
}

.container .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container .percent .number h2 {
  color: #777;
  font-size: 44px;
  transition: 0.5s ease;
}

.container .percent .number h2 span {
  color: #777;
  padding-left: 3px;
  font-size: 24px;
  transition: 0.5s ease;
}

.container .percent h3 {
  margin-top: 16px;
  color: #777;
  font-size: 22px;
  transition: 0.5s ease;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-85deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #63E2FF;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #D9E021;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: #ED1E79;
}
