* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  background: #f4f5f8;
  min-height: 100vh;
}

header {
  min-height: 100px;
  background: linear-gradient(-45deg, #00537E, #3AA17E);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);

  .switcher {
    position: absolute;
    visibility: hidden;
    left: -9999;
  }

  label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    transition: .4s;

    &:hover {
      color: #3498db;
    }
  }
}

@media screen and (max-width: 800px) {
  .open,
  .close {
    display: block;
  }

  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .switcher:checked ~ nav {
    right: 0;
  }

  nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #00537E, #3AA17E);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    transition: .7s;

    ul {
      flex-direction: column;
    }

    a {
      padding: 20px;

      &:hover {
        background-color: rgba(255,255,255,.03);
      }
    }
  }
}
