html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}

header {
  position: relative;
  font-family: 'Sedgwick Ave', cursive;
  color: #fff;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  transform-style: inherit;

  &:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s linear;
    transform: translatez(-1px) scale(2);
    z-index: -1;
  }

  h1 {
    font-size: 90px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px #000;
    margin-top: 0;
  }

  p {
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 60%;
  }
}

.content {
  padding: 50px;
  background-color: #f1f1f1;
  margin: 0;
  font-size: 20px;
}
