* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background: linear-gradient(45deg, #D585FF, #00FFEE);
  height: 100vh;
}

.card {
  width: 340px;
  height: 480px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
  width: 100%;
  height: auto;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back h1 {
  color: #444;
  font-size: 24px;
}

.back h1 span {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0 10px;
}

.back .socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.back .socials a {
  color: #444;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.4s ease;
}

.back .socials a:hover {
  background-color: #444;
  color: #fff;
}
