body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #fca5f1, #b5ffff);
  font-family: "Montserrat", sans-serif;
}

.card {
  width: 300px;
  height: 200px;
  border: 10px solid #f1f1f1;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: -5px 5px 10px -5px #010101;
}

.card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transform: translate(400px, -100px) rotate(180deg);
  transition: all 0.4s ease-in-out;
}

.card img {
  width: auto;
  height: 100%;
}

.card h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 0;
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  transition: 0.2s ease-in-out;
}

.card p {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  text-align: center;
  transform: translateX(300px) rotate(90deg);
  transition: 0.2s ease-in-out;
  padding: 0 10px;
}

.card a {
  align-self: center;
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(-200px);
  transition: 0.2s ease-in-out;
}

.card a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.card:hover .content {
  opacity: 1;
  transition-delay: 0s;
  transform: translate(0, 0);
}

.card:hover h2 {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.card:hover p {
  transform: translateX(0) rotate(0);
  transition-delay: 0.4s;
}

.card:hover a {
  transform: translateY(0);
  transition-delay: 0.3s;
}
