body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#ff0000, #000000);
}

figure {
  width: 660px;
  height: 360px;
  box-sizing: border-box;
  padding: 3em;
  position: relative;
}

figure:before, figure:after {
  content: '';
  width: 0;
  height: 0;
  box-sizing: inherit;
  border: 4px solid transparent;
  position: absolute;
}

figure:before {
  top: 0;
  left: 0;
}

figure:after {
  z-index: 1;
  bottom: 0;
  right: 0;
}

figure:hover:before, figure:hover:after {
  width: 100%;
  height: 100%;
}

figure:hover:before {
  border-top-color: #ff0000;
  border-right-color: #ff0000;
  transition: width .25s ease,  height .25s ease .25s;
}

figure:hover:after {
  border-bottom-color: #f07e7e;
  border-left-color: #f07e7e;
  transition: width .25s ease .5s, height .25s ease .75s, border-color 0s ease .5s;
}

figure:hover h2 {
  left: 20%;
}

figure:hover button {
  left: 55%;
}

figure img {
  position: absolute;
  width: 460px;
  top: 45%;
  left: 22%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

figure figcaption {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

figure figcaption h2 {
  font-family: 'Mansalva', cursive;
  font-size: 68px;
  color: #0c0c0c;
  text-shadow: 1px 1px 5px #ff0000;
  text-align: center;
  margin: 0 0 50px;
  position: relative;
  top: 10%;
  left: -50%;
  transition: 1s ease;
}

figure figcaption h2 span {
  display: block;
  font-size: 14px;
}

figure figcaption button {
  cursor: pointer;
  background-color: transparent;
  height: 45px;
  width: 140px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 35px;
  position: relative;
  top: 0;
  left: 0;
  transition: 1s ease;
}
