body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3c0453, #2f0000);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 15px #000;
  letter-spacing: 15px;
  font-size: 100px;
  color: #07e8ff;
  padding: 5% 10%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}

button:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}

button span:nth-child(1), button span:nth-child(2), button span:nth-child(3), button span:nth-child(4) {
  position: absolute;
}

button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #2f0000, #07e8ff, #2f0000);
  animation: animateTop 2s linear infinite paused;
}

button span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(0, #2f0000, #07e8ff, #2f0000);
  animation: animateRight 2s linear infinite paused;
}

button span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #2f0000, #07e8ff, #2f0000);
  animation: animateBottom 2s linear infinite paused;
}

button span:nth-child(4) {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(0, #2f0000, #07e8ff, #2f0000);
  animation: animateLeft 2s linear infinite paused;
}

button:hover span {
  animation-play-state: running;
}

@keyframes animateTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animateRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animateBottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animateLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
