body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #333333, #4c4a4a);
}

h1 {
  font-family: "Lato", sans-serif;
  position: relative;
  color: #212121;
  font-size: 150px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 18px solid #212121;
}

h1:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "Loading...";
  color: #00ffff;
  border-bottom: 18px solid #00ffff;
  overflow: hidden;
  animation: loading 8s infinite linear;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
