$size: 250px;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

button {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 30px;
  width: $size;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .wave {
      top: -150px;
    }
  }

  span {
    position: relative;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: $size;
    height: $size;
    background: linear-gradient(45deg, #4F00BC, #29ABE2);
    transition: .5s ease;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -75%);
    }

    &:after {
      border-radius: 40%;
      background: rgba(#333, .5);
      animation: wave 7s linear infinite;
    }

    &:before {
      border-radius: 45%;
      background: rgba(#333, 1);
      animation: wave 12s linear infinite;
    }
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
